desktop.ini
android-app/*.docx
android-app/*.pptx
android-app/*.iml
android-app/.gradle
android-app/local.properties
android-app/.idea/*
android-app/.DS_Store
build
captures
.externalNativeBuild
.cxx
